*
!*/
!*.h
!*.c
!*.cc
!*.S
!*.ld
!*.sh
!*.py
!*.mk
!Makefile
!README
!LICENSE
!klib/include/cassert
!klib/include/cerrno
!klib/include/cctype
!klib/include/clocale
!klib/include/cmath
!klib/include/cstdio
!klib/include/cstdlib
!klib/include/cstring
!klib/include/ctime
!klib/include/cwchar
!klib/include/cwctype
.*
_*
*~
build/
!.gitignore
.vscode
