*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/npc/out/*
!/minirvEMU/*
!/minirvEMUTestDebug/*
!/AMminirvEMU/*
!/HDLcode/**
!/HDLLearn/**
HDLLearn/**/build/
HDLLearn/**/obj_dir/
HDLcode/**/build/
HDLcode/**/obj_dir/
!/npc/rtl/**
!/yosys-sta/*
!/riscv-arch-test-am
!/riscv-tests
!/riscv-tests-am
!/rt-thread
!/ics2024
!/ics2025
!Makefile
!README.md
!.gitignore
!init.sh
