*.*
*
!*/
!Makefile
!*.mk
!Kconfig
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!README.md
//新加的
!*hpp
!*ixx
!.gitattributes

build/

# mill
!*.mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/

# 性能记录需要纳入版本管理
!NPCSimResult/
!NPCSimResult/**/*
!log/
!log/**/*
!*.csv
